
#wikigle{
  height: 100%;
  width: 100%;

  #identity{
    #wikigle-logo{
      height: 60px;
      margin: 30px 0px -20px 50px;
      width: 150px;
      transition: 1s all ease;
    }
    hr{
      margin-bottom: -30px;
    }
  }

  #form{
    width: 50%;
    min-width: 300px;
    max-width: 700px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  #wikigle-logo{
    height: 120px;
    margin:auto;
    width: 300px;
  }

  form input{
    color: #666;
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    box-shadow: 2px 2px 3px rgba(120,120,120,0.3);
    border: 1px solid #EEE;
    &::placeholder {
      color: #CCC;
    }
    &:focus{
      border: 1px solid #EEE;
      outline: none !important;
    }
  }

  #wikigle-buttons{
    margin-top: 1.5em;
    text-align: center;
    .btn {
      background-color: #F6F6F6;
      border-color: #F6F6F6;
      margin-left: 10px;
      margin-right: 10px;
      color: #888;
      font-weight: bold;
      &:hover{
        color: #222;
      }
    }
  }


  #results{
    margin-top: 20px;
    padding: 50px;
    font-size: 1.1em;
    color: #555;
  }

}