<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wikigle</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/wikigle.css" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script 
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
      crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
  
    <div id="wikigle">

      <div id="identity">
        <div id="wikigle-logo"><a href="./index.html"><img src="/images/wikigle-logo.png" class="img img-responsive"></a></div>
        <hr>
      </div>

      <div id="form">
          <div id="wikigle-logo"><img src="/images/wikigle-logo.png" class="img img-responsive"></div>
          <form id="submitform">
            <input id="wikiKeyword" v-model="wikiKeyword" type="text" placeholder="What are you looking for?" class="form">
          </form>
          <div id="wikigle-buttons">
            <a href="#" class="btn btn-default" id="wikiSearch" >Wiki Search</a>
            <a href="https://en.wikipedia.org/wiki/Special:Random" class="btn btn-default" target="result">Some Random Sh*t</a>
          </div>
      </div>

      <div id="results">
          <div id="resultsquery">
            <form id="resultssubmitform">
              <input id="resultswikiKeyword" v-model="wikiKeyword" type="text" placeholder="What are you looking for?" class="form">
            </form>
          </div>
          <ul>
            <!--<li>
              <h2><a href="#">Digikey Electronics</a></h2>
              <p><a href="#">http://www.somewhere.com/blahblahblah/digikey/</a></p>
              <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
            </li>-->
            <li v-for="page in wikiPagesValues " >
              <h2><a :href=" 'https://en.wikipedia.org/?curid=' + page.pageid " target="result">{{ page.title  }}</a></h2>
              <p><a :href=" 'https://en.wikipedia.org/?curid=' + page.pageid " target="result">https://en.wikipedia.org/?curid={{ page.pageid }}</a></p>
              <p>
                <div class="wikithumbnail" v-if="page.thumbnail" ><img :src="(page.thumbnail.source).replace(page.thumbnail.width,'150')"  v-if="page.thumbnail"></div>
                {{ page.extract }}
              </p>
            </li>                  
          </ul>
      </div>

    </div> <!-- #wikigle -->

    <script>
      // Setup VueJs for this app
      var app = new Vue({
        el: '#wikigle',

        data: {
          wikiKeyword: '',
          wikiResponse: '',
          wikiPages: '',
          wikiPagesValues: ''
        }
      })

      // NOTE: This is a sample call to the Wikipedia API 
      // https://en.wikipedia.org/w/api.php?format=json&action=query&generator=search&gsrlimit=100&prop=pageimages|extracts&pilimit=max&exintro&explaintext&exsentences=1&exlimit=max&gsrsearch=bill+clinton

      // Setup click handler on homepage
      $('#wikiSearch').click(function(){
        $.ajax({
          method: "GET",
          url: "https://en.wikipedia.org/w/api.php",
          data: { 
                  format: "json", 
                  action: "query",
                  generator: "search",
                  gsrlimit: "100",
                  prop: "pageimages|extracts",
                  pilimit: "20",
                  exintro: "5",
                  explaintext: "4",
                  exsentences: "4",
                  exlimit: "max",
                  origin: '*',                 // CORS
                  gsrsearch: app.wikiKeyword   // search term (coming from Vue instance)
                }
        })
        .done(function( response ) {
          app.wikiResponse = response;
          app.wikiPages = Object.keys(response.query.pages);          // this will contain an array of page ids
          app.wikiPagesValues = Object.values(response.query.pages);  // this will contain an array of objects, the values of each search result

          // show results, hide initial homepage
          $('#form').addClass('hide');
          $('#identity').addClass('show');
          $('#results').addClass('show');
          
        });
      })

      // disable form ENTER key for the input text box
      $("#form").submit(function(event){
        event.preventDefault();
      })

      // capture ENTER key on input field, and generate click event for wikiSearch button
      $("#wikiKeyword").keyup(function(event){
          if(event.keyCode == 13){
              $("#wikiSearch").click();   // trigger the click event, same as clicking the button
              event.preventDefault();
              return false;   // to prevent the form from being submitted
          }
      });




      // --------------------- query box for Search Results Page ---------------------
      // disable form ENTER key for the input text box
      $("#results").submit(function(event){
        event.preventDefault();
      })

      // capture ENTER key on input field, and generate click event for wikiSearch button
      $("#resultswikiKeyword").keyup(function(event){
          if(event.keyCode == 13){
              $("#wikiSearch").click();   // trigger the click event, same as clicking the button
              event.preventDefault();
              return false;   // to prevent the form from being submitted
          }
      });
      
    
    
    </script>

  </body>
</html>